EXPO_PUBLIC_APP_NAME=StockFlow
EXPO_PUBLIC_COMPANY_NAME=4K Leds e Eventos
EXPO_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sua-chave-publica
EXPO_PUBLIC_ENABLE_SIGNUP=true
